.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;

    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: rgb(43, 11, 172);
    border-radius: 5px;
    margin: 100px auto;
}

.face {
    
}